.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-family: "Merriweather", serif;
    text-align: center;
    font-size: 24px;
    background-color: #f2f2f2;
    border-radius: 5px;

    ////// mine ////////////
    margin: 30px 0 10px;
    padding: 10px 0;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
