.collection-item {
  //width: 22%;
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 0.5rem 0.5rem 1rem;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  // box-shadow: 0 4px 14px rgba($color: #000000, $alpha: 0.1);
  transition: 0.2s ease-out;

  //mine////
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .custom-button {
    width: 60%;
    opacity: 0;
    position: absolute;
    bottom: 20%;
    border-radius: 5px;
    transform: translateY(30%);
    cursor: pointer;
    z-index: 11;
    transition: all 0.2s ease-out;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 5px 0;
    color: rgb(0, 0, 0);

    .name {
      width: 90%;
      font-weight: bold;
    }

    .price {
      width: auto;
      padding: 5px;
      font-size: 20px;
      text-align: right;
      border-radius: 5px;
      color: rgb(32, 137, 207);
      background-color: #f2f2f2;
    }
  }
  &:hover {
    border: 1px solid rgb(32, 137, 207);
  }
  &:hover .custom-button {
    opacity: 0.9;
    transform: translateY(0%);
  }
}
