.cart-dropdown {
  position: absolute;
  width: 340px;
  height: 440px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 115;

  border-radius: 10px;
  box-shadow: 0 8px 20px rgba($color: #000000, $alpha: 0.15);

  .empty-message {
    font-size: 20px;
    margin: 50px 0;
    font-weight: 700;
  }

  .cart-items {
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
  }

  button {
    margin-top: auto;
    border-radius: 5px;
  }
}
