.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 137, 207);
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 11px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    bottom: 12px;
  }
}
