.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    width: 100px;
    padding-left: 1rem;
    padding-top: 1rem;

    .logo {
      width: 100px;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0 15px;
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
      font-weight: 400;
      transition: 0.2s ease-out;

      &:hover {
        color: rgb(231, 10, 183);
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 650px) {
    .options {
      width: 90%;

      .option {
        padding: 0 10px;
        font-size: 1.2rem;
      }
    }
  }
}
