.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    width: 100px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0 15px;
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
      font-weight: 400;

      &:hover {
        color: gray;
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 650px) {
    .options {
      width: 90%;
    }
  }
}
