.menu-item {
  position: relative;
  min-width: 450px;
  height: 340px; //240
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 7.5px 15px;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);

  filter: grayscale(100%);
  cursor: pointer;
  transition: all 0.2s ease-out;

  &.large {
    height: 480px; //380
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  a {
    text-decoration: none;
  }

  .image {
    background-position: center;
    background-size: cover;
    transform: scale(1);
    width: 100%;
    height: 100%;
    transition: all 2s ease-out;
  }

  .content {
<<<<<<< HEAD
    width: 100%;
    padding: 10px 45px;
=======
    padding: 15px 45px;
    width: 100%;
>>>>>>> 87bb600a1e2fbd9209bab7130043d745449bfbf0
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    // left: 0;
    // right: 0;
    transition: background 0.2s ease-out;
    .title {
      font-weight: 900;
      font-size: 2rem;
      color: #ffffff;
      font-family: "Merriweather", serif;
      text-transform: uppercase;
    }

    .subtitle {
      font-weight: 300;
      font-size: 24px;
      font-family: "Open Sans Condensed", sans-serif;
      color: white;
    }
  }

  &:hover .content {
    background: rgba(255, 255, 255, 0.8);
  }
  &:hover .title {
    color: black;
  }
  &:hover .subtitle {
    color: black;
  }
  &:hover .image {
    transform: scale(1.1);
  }
  &:hover {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  @media screen and (max-width: 650px) {
    min-width: 350px;
  }
}
